#
NET "miso" LOC = "F2" ;
NET "ss" LOC = "H1" ;
NET "clock" LOC = "A9" ;
NET "mosi" LOC = "F1" ;
NET "sck" LOC = "H2" ;
#
NET "clock" TNM_NET = "clock"; 
TIMESPEC "TS_clock" = PERIOD "clock" 83.3333333 ns HIGH 50%;
#
